h1{
    text-align: center;
}
h3{
    text-align: center;
}
body{
    background: black;
    color: whitesmoke;
}
a {
    margin: 20px;
    padding: 15px;
    background-color: teal;
    color: white;
    border: 3px;
    font-size: 12px ;
    text-align: center;
    position: absolute;
    left: 45%;
    border-radius: 10%;
}

h4{
    text-align: center;
}
.left{
    left: 75%;
}
.right{
    left: 15%;
}